body{
    background-color: #3db3c0;
    text-align: center;
}

svg{
    display:inline;
    fill:black;
    transition:1s;
}


.chosen{
    fill:gray;
    transition: 1s;
}

.player:hover{
    fill:white;
}

.score{
    color:black;
    font-size: large;
    background: white;
    border: black solid;
    border-radius:5px;
    width: 20vw;
    height: 5vh;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.result {
    display:flex;
    height: 20vh;
    width: 50vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
}

.choices{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reset{
    color:#3db3c0;
    background:black;
    border-radius:5px;
}
.total{
    color:#3db3c0;;
    background:black;
    border-radius: 5px;
    width: 60vw;
    margin:auto;
}
@media (min-width: 500px){
    .game, .result{
        max-width:600px;
        margin:auto;
    }
    .total {
        max-width: 360px;
        margin:auto;
    }
    .score{
        max-width: 100px;
    }
}
